
header{
    position: relative;
    background-color: #BBBBBB;
}

nav li{
    display: inline-block;
    margin-left: 15px;
    
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav{
    position: absolute;
    right: 10%;
    bottom: 38%;
}